/**
 * Container System
 * Responsive fixed-width and fluid containers
 */

// Container Fluid - Always 100% width
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Responsive Container
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // Small devices (≥576px)
  @media (min-width: 576px) {
    max-width: 540px;
  }

  // Medium devices (≥768px)
  @media (min-width: 768px) {
    max-width: 720px;
  }

  // Large devices (≥1024px)
  @media (min-width: 1024px) {
    max-width: 960px;
  }

  // Extra large devices (≥1280px)
  @media (min-width: 1280px) {
    max-width: 1140px;
  }

  // Extra extra large devices (≥1536px)
  @media (min-width: 1536px) {
    max-width: 1320px;
  }
}

// Container SM - Fluid until small breakpoint
.container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 1024px) {
    max-width: 960px;
  }

  @media (min-width: 1280px) {
    max-width: 1140px;
  }

  @media (min-width: 1536px) {
    max-width: 1320px;
  }
}

// Container MD - Fluid until medium breakpoint
.container-md {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 1024px) {
    max-width: 960px;
  }

  @media (min-width: 1280px) {
    max-width: 1140px;
  }

  @media (min-width: 1536px) {
    max-width: 1320px;
  }
}

// Container LG - Fluid until large breakpoint
.container-lg {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1024px) {
    max-width: 960px;
  }

  @media (min-width: 1280px) {
    max-width: 1140px;
  }

  @media (min-width: 1536px) {
    max-width: 1320px;
  }
}

// Container XL - Fluid until extra large breakpoint
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1280px) {
    max-width: 1140px;
  }

  @media (min-width: 1536px) {
    max-width: 1320px;
  }
}

// Container XXL - Fluid until extra extra large breakpoint
.container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1536px) {
    max-width: 1320px;
  }
}
