/**
 * Sizing Utilities
 * 너비 및 높이 유틸리티 클래스
 */

// Width - Percentage
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

// Height - Percentage
.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

// Max Width
.mw-100 {
  max-width: 100% !important;
}

// Max Height
.mh-100 {
  max-height: 100% !important;
}

// Min Viewport Width
.min-vw-100 {
  min-width: 100vw !important;
}

// Min Viewport Height
.min-vh-100 {
  min-height: 100vh !important;
}

// Viewport Width
.vw-25 {
  width: 25vw !important;
}

.vw-50 {
  width: 50vw !important;
}

.vw-75 {
  width: 75vw !important;
}

.vw-100 {
  width: 100vw !important;
}

// Viewport Height
.vh-25 {
  height: 25vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.vh-75 {
  height: 75vh !important;
}

.vh-100 {
  height: 100vh !important;
}

// Fixed Widths (rem-based)
.w-rem-10 {
  width: 10rem !important;
}

.w-rem-20 {
  width: 20rem !important;
}

.w-rem-30 {
  width: 30rem !important;
}

.w-rem-40 {
  width: 40rem !important;
}

// Fixed Heights (rem-based)
.h-rem-10 {
  height: 10rem !important;
}

.h-rem-20 {
  height: 20rem !important;
}

.h-rem-30 {
  height: 30rem !important;
}

.h-rem-40 {
  height: 40rem !important;
}
